<!DOCTYPE html>
<html lang="en">
<head>
  <link href="/styles/main.css" rel="stylesheet" type="text/css">
  <meta charset="UTF-8">
  <title>L O V E</title>
</head>
<body>
<h3>You are loved</h3>

<!-- generate quotes -->
  <form action="/quotes" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="quote" name="quote">
    <button type="submit">Submit</button>
  </form>

<!-- quotes being displayed from database -->
  <ul class="quotes">
  <% for(var i=0; i<quotes.length; i++) {%>
    <li class="quote">
      <span><%= quotes[i].name %></span>
      <span><%= quotes[i].quote %></span>
    </li>
  <% } %>
  </ul>

</body>
</html>
